<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/index.css">

    <div id="filters">
        <div class="filter">
            <div>
                <form id="searchFilterTrending" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="trending">
                    <button type="submit" class="no-margin"> <i class="fa-solid fa-fire"></i> </button>
                </form>
            </div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
            <form id="searchFilterRooms" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                <input type="hidden" name="category" value="rooms">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-bed"></i> </button>
                </form>
            </div>
            <p>Rooms</p>
         </div>
        <div class="filter">
            <div>
                <form id="searchFilterIconicCities" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="iconiccities">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-mountain-city"></i> </button>
                </form>
            </div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterMountains" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="mountains">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-mountain"></i> </button>
                </form>
            </div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterCastles" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="castles">
                <button type="submit" class="no-margin"> <i class="fa-brands fa-fort-awesome"></i> </button>
                </form>
            </div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterAmazingPools" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="amazingpools">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-person-swimming"></i> </button>
                </form>
            </div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterCamping" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="camping">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-campground"></i> </button>
                </form>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterFarm" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="farm">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-cow"></i> </button>
                </form>
            </div>
            <p>Farm</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterArctic" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="arctic">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-igloo"></i> </button>
                </form>
            </div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterBoats" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="boats">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-sailboat"></i> </button>
                </form>
            </div>
            <p>Boats</p>
        </div>
        <div class="filter">
            <div>
                <form id="searchFilterOthers" class="searchFilter"  role="search" action="/listings/filters" method="GET">
                    <input type="hidden" name="category" value="others">
                <button type="submit" class="no-margin"> <i class="fa-solid fa-snowflake"></i> </button>
                </form>
            </div>
            <p>Others</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input tax-switch-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label display-tax-text" for="flexSwitchCheckDefault">
                    Display total after taxes
                </label>
              </div>
        </div>
    </div>      

<div class="row flex-wrap <%= allListings.length % 4 !== 0 ? 'center-last-row': '' %> ">
        <% for(let listing of allListings) { %>
            <% if(listing.title && listing.price !== null && listing.price !== undefined){ %>
                <div class="listing-row col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card col listing-card">
                          <a href="/listings/<%= listing._id %>" class="listing-link">
                              <img src="<%= listing.image.url %>" 
                              class="card-img-top" 
                              alt="listing-img" 
                              style="height: 18rem;"
                              />
  
                              <div class="card-img-overlay"></div>
  
                              <div class="card-body">
                                  <p class="card-text">
                                  <b><%= listing.title %></b> <br>
                                  &#x20b9; <%= listing.price.toLocaleString("en-IN")%>/night 
                                  <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
                                  </p>
                              </div>
                          </a>
                   </div>
                </div>
                <% } %>
              <% } %>
</div>

<script>
    let taxSwitch = document.getElementById('flexSwitchCheckDefault');
    taxSwitch.addEventListener('click', () => {
        let taxInfo = document.getElementsByClassName('tax-info');
        for(info of taxInfo) {

            if(info.style.display != "inline") {
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
        }
    })
</script>